/* Extra small devices (phones, portrait mode) */
@media (max-width: 576px) {
    body {
      font-size: 14px;
    }
}

/* Small devices (phones, landscape mode, small tablets) */
@media (min-width: 576px) and (max-width: 768px) {
    body {
        font-size: 16px;
    }
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 992px) {
    body {
        font-size: 18px;
    }
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1200px) {
    body {
        font-size: 20px;
    }
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
    body {
        font-size: 22px;
    }
}